<div class="container mt-3">
  <div class="row shadow justify-content-center">
    <div class="col-md-6">
      <form #form="ngForm" (ngSubmit)="show(form)">
      <label for="name" class="form-control" >Name</label>
        <input type="text" class="form-control" id="name" name="name" required #name="ngModel" placeholder="Enter name" ngModel>
        <small *ngIf="!name.valid && name.touched">Provide Valid name</small>
<div ngModelGroup="grp" #grp="ngModelGroup">

        <label for="email" class="form-control" >Email</label>
        <input type="email" required  class="form-control" id="email" #email="ngModel" name="email" placeholder="Enter Email" ngModel>
        <small *ngIf="!email.valid && email.touched">Provide valid email</small>
    </div>

        <label for="password" class="form-control" >Password</label>
        <input type="password" class="form-control" id="password" #pass="ngModel" name="password" placeholder="Enter Password" ngModel>
        <button class="btn btn-info mt-2 mb-3" (click)="adddata(name.value,pass.value)">Submit</button>
      </form>
    </div>
  </div>
</div>
