


 
<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-info me-2 ms-5" type="button"><a routerLink="templateForm"   class="nav-link active">Template Driven Form</a></button>
    <button class="btn btn-outline-info  me-2" type="button"><a routerLink="reactiveForm"  class="nav-link active">Reactive Form</a></button>
    <button class="btn btn-outline-info  me-2" type="button"><a routerLink="main1"  class="nav-link active">Eger Loading</a></button>
    <button class="btn btn-outline-info  me-2" type="button"><a routerLink="lazyLoad"  class="nav-link active">Lazy Loading</a></button>
    <button class="btn btn-outline-info  me-2" type="button"><a routerLink="httpclient"  class="nav-link active">Services (HTTP CLIENT)</a></button>
    <button class="btn btn-outline-info  me-2" type="button"><a routerLink="pipes"  class="nav-link active">Pipes</a></button>
    <button class="btn btn-outline-info  me-2" type="button"><a routerLink="data-binding"  class="nav-link active">Data Binding</a></button>
    <button class="btn btn-outline-info  me-2" type="button"><a routerLink="directive"  class="nav-link active">Directive</a></button>
    
  </form>
</nav>
<router-outlet></router-outlet>
